#about{
    width: 100vw;
    height:100vh;
    position: relative;
    color: white;
    

    .aboutback{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        background: url("../images/about-back.jpeg") fixed ;
        background-position: center;
        background-size: cover;
    }

    .abouttext{
        position: absolute;
        top: 0;
        left: 10vw;
       max-width: 80vw;
       width: 40vw;
       height: 100vh;
       z-index: 999;
       h1{
           font-size: 4rem;
           margin-bottom: 1rem;
       }
       p{
           font-size: 3rem;
       }

       a{
           color: orange;
           text-decoration: none;
           display: inline ;
       }
    }
}