.progress::after{
    animation: cameright 10s  infinite;
}
@keyframes cameright {
    0%{
        left: -100%;
    }
    40%{
        left: 0px;
    }
    70%{
        left: 0%;
    }
    90%{
        left: -100%;
    }
}
.progress::before{
    animation: cameright1 10s  infinite;
}
@keyframes cameright1 {
    0%{
        left: -100%;
    }
    40%{
        left: 10px;
    }
    41%{
        left: 0px;
    }
    70%{
        left: 0px;
    }
    
    100%{
        left: -100%;
    }
}
.nactive{
    .left{
        transform: translatex(-100vw);
    }
    .right{
        transform: translatex(100vw);
    }
    .shrink{
        transform: scale(0);
    }
}
.sactive{
    .anima{
        animation: flip 2s ;
        animation-delay: .6s;
    }
    @keyframes flip {
        0%{
            transform: rotatey(0deg);
        }
        20%{
            transform: rotatey(-30deg);
        }
        40%{
            transform: rotatey(30deg);
        }
        60%{
            transform: rotatey(-15deg);
        }
        80%{
            transform: rotatey(15deg);
        }
        100%{
            transform: rotatey(0deg);
        }
    }
    .start{
        animation: forwardbar 2s ;
        
    }
    @keyframes forwardbar {
        0%{
            background:conic-gradient(white 25%,white 50%,white 75%,white 100% );
        }
        12%{
            background:conic-gradient(orange 25%,white 50%,white 75%,white 100% );
        }
        24%{
            background:conic-gradient(orange 25%,orange 50%,white 75%,white 100% );
        }
        36%{
            background:conic-gradient(orange 25%,orange 50%,orange 75%,white 100% );
        }
        48%{
            background:conic-gradient(orange 25%,orange 50%,orange 75%,orange 100% );
        } 
        60%{
            background:conic-gradient(orange 25%,orange 50%,orange 75%,orange 100% );
        }
        72%{
            background:conic-gradient(orange 25%,orange 50%,orange 75%,white 100% );
        }
        84%{
            background:conic-gradient(orange 25%,orange 50%,white 75%,white 100% );
        }
        96%{
            background:conic-gradient(orange 25%,white 50%,white 75%,white 100% );
        }
        100%{
            background:conic-gradient(white 25%,white 50%,white 75%,white 100% );
        }
    }
    
    .left{
        transform: translatex(0px);
        transition: transform .6s ease !important;
    }
    .right{
        transform: translatex(0px);
        transition: transform .6s ease !important;
    }
    .shrink{
        transform: scale(1);
        transition: transform .6s ease !important;
    }
}