.globlin img{
    animation: UtoD  10s infinite;
    transition: .3s all ease;
}
@keyframes UtoD {
    0%{
        top: -10%;
        left: -10;
        width: 10rem;
    }
    10%{
        top: 0%;
        left: 0;
        width: 15rem;
    }
    48%{
        top: 30%;
        left: 30%;
        width: 40rem;
    }
    50%{
        width: 60rem;
    }
    52%{
        top: 30%;
        left: 30%;
    }
    80%{
        width: 30rem;
    }
    100%{
        top: 110%;
        left: 110%;
        width: 10rem;
    }
}
.progress::after{
    animation: cameright 10s  infinite;
}
@keyframes cameright {
    0%{
        left: -100%;
    }
    40%{
        left: 0px;
    }
    70%{
        left: 0%;
    }
    90%{
        left: -100%;
    }
}
.progress::before{
    animation: cameright1 10s  infinite;
}
@keyframes cameright1 {
    0%{
        left: -100%;
    }
    40%{
        left: 10px;
    }
    41%{
        left: 0px;
    }
    70%{
        left: 0px;
    }
    
    100%{
        left: -100%;
    }
}

.header-cloud:nth-child(2) img{
    animation: move-right 8s linear infinite;
    transform: translateX(-100%);
}
.header-cloud:nth-child(3) img{
    animation: move-right 8s linear 3s infinite;
    transform: translateX(-100%);
}
.header-cloud:nth-child(4) img{
    animation: move-right 8s linear 6s infinite;
    transform: translateX(-100%);
}
@keyframes move-right {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(150%);
    }
}
@keyframes move-right-2 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(150%);
    }
}