#contact{
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
    position: relative;
    background: url("../images/contact-back.jpg") fixed center no-repeat;
    background-size: cover;
    

    .left{
        border-radius: 5rem;
        width: 70rem;
        height: 100rem;
        @include center;
        background-color: rgba(255, 255, 255, 0.8) !important;
        box-shadow: 5px 5px 500px white,-5px -5px 500px white;
        transition: .3s all ease;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
        padding: 2rem;

        img{
            width: 70%;
            border-radius: 50%;
            transition: .3s all ease;
            box-shadow: 2px 2px 10px black,inset 1px 1px 10px black;
        }

        hr{
         width: 90% !important;
         margin: 2rem 0;
         height: 2px;
         background-color: rgb(251, 245, 245) !important;
        }
        p{
            color: rgb(78, 76, 76);
            font-size: 2rem;
            @include center;
            flex-direction: row !important;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);

            a{
                margin-right: 2rem;
            }
            i{
                margin-right:.5rem ;
            }
        }

        &:hover{
            transform: scale(1.05);
            img{
                transform: scale(1.06);
            }
        }
    }
}