header {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.header-bc {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(transparent 80%, black),
    url("../images/header-bc.jpeg") fixed center center;
  background-size: cover;
  filter: blur(1px);
}
.header-strip {
  width: 120px;
  height: 100vh;
  position: fixed;
  padding-right: 2rem;
  top: 0;
  right: -100px;
  z-index: 9999;
  transition: all .6s ease !important;
  overflow-x: visible;
  border-radius: 54px 0 0 54px ;


    
  
  &::before{
    content: "";
    width: 30px;
    height: 140px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    z-index: 99999;
    border-radius: 80px  ;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }

  &:hover{
    right: 0;
    background: transparent;
  }

  .strip-dots{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    color: white;
    z-index: 99999;
    font-size: 12px;
    cursor: pointer;
  }

  a{
    margin: 12px ;
    margin-left: 50px;
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    background-color: #fff;
    font-size: 4rem;
    cursor: pointer;
    text-decoration: none;
    @include center;
    transition:  .3s all ease;
    box-shadow: 1px 1px 5px black;
    border-radius: 13px;
background-color: linear-gradient(315deg, #cacaca, #f0f0f0);
box-shadow:  -5px -5px 10px #5a5a5a,
             5px 5px 10px #ffffff;
   
    
    &:nth-child(1){
      color: #4267B2;
    }
    &:nth-child(2){
      color: #0E76A8;
    }
    &:nth-child(3){
      color: #C13584;
    }
    &:nth-child(4){
      color: #171515;
    }
    &:nth-child(5){
      color: #0088CC;
    }
    &:nth-child(6){
      color: rgb(1,169,132);
    }
    &:nth-child(7){
      color: rgb(48,200,102);
    }
    &:nth-child(8){
      color: black;
    }
    &:nth-child(9){
      color: rgb(48,60,55);
    }
    
    &:hover{
      transform: scale(1.1);
      font-size: 5rem;
      color: white;
      
      &:nth-child(1){
        background-color: #4267B2;
        box-shadow: 1px 1px 20px #4267B2,
                    -1px -1px 20px #4267B2;
      }
      &:nth-child(2){
        background-color: #0E76A8;
        box-shadow: 1px 1px 20px #0E76A8,
        -1px -1px 20px #0E76A8;
      }
      &:nth-child(3){
        background-color: #C13584;
        box-shadow: 1px 1px 20px #C13584,
        -1px -1px 20px #C13584  ;
      }
      &:nth-child(4){
        background-color: #171515;
        box-shadow: 1px 1px 20px #171515,
        -1px -1px 20px #171515;
      }
      &:nth-child(5){
        background-color: #0088CC;
        box-shadow: 1px 1px 20px #0088CC,
        -1px -1px 20px #0088CC;
      }
      &:nth-child(6){
        background-color: rgb(1,169,132);
        box-shadow: 1px 1px 20px rgb(1,169,132),
        -1px -1px 20px rgb(1,169,132);
      }
      &:nth-child(7){
        background-color: rgb(1,169,132);
        box-shadow: 1px 1px 20px rgb(1,169,132),
        -1px -1px 20px rgb(1,169,132);
      }
      &:nth-child(8){
        background-color: black;
        box-shadow: 1px 1px 20px black,
        -1px -1px 20px black;
      }
      &:nth-child(9){
        background-color: rgb(48,60,55);
        box-shadow: 1px 1px 20px rgb(48,60,55),
        -1px -1px 20px rgb(48,60,55);
      }
    }
  }
}
.strip-active{
  right: 0;
  background: transparent;

  .header-strip::before{
    background: transparent;
  }
}



.header-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform .6s ease !important;
}
.header-text h1 {
  font-size: 12rem;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-align: center;
}
.header-text h2 {
  font-size: 6rem;
  text-align: left;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
}
#passion {
  color: var(--shade3);
}
