header {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.header-bc {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(transparent 80%, black),
    url("../images/header-bc.jpeg") fixed center center;
  background-size: cover;
  filter: blur(1px);
}
.header-strip {
  width: 12rem;
  height: 95vh;
  position: fixed;
  padding-right: 2rem;
  top: 0;
  right: 0;
  z-index: 1;
  // transform: scale(0);
  transition: transform .6s ease !important;


  a{
    margin: 12px 0;
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    background-color: #fff;
    font-size: 4rem;
    cursor: pointer;
    text-decoration: none;
    @include center;
    transition:  .3s all ease;
    box-shadow: 1px 1px 5px black;
    
    &:nth-child(1){
      color: #4267B2;
    }
    &:nth-child(2){
      color: #0E76A8;
    }
    &:nth-child(3){
      color: #C13584;
    }
    &:nth-child(4){
      color: #171515;
    }
    &:nth-child(5){
      color: #0088CC;
    }
    &:nth-child(6){
      color: rgb(1,169,132);
    }
    &:nth-child(7){
      color: rgb(48,200,102);
    }
    &:nth-child(8){
      color: black;
    }
    &:nth-child(9){
      color: rgb(48,60,55);
    }
    
    &:hover{
      transform: scale(1.1);
      font-size: 5rem;
      color: white;
      
      &:nth-child(1){
        background-color: #4267B2;
        box-shadow: 1px 1px 20px #4267B2,
                    -1px -1px 20px #4267B2;
      }
      &:nth-child(2){
        background-color: #0E76A8;
        box-shadow: 1px 1px 20px #0E76A8,
        -1px -1px 20px #0E76A8;
      }
      &:nth-child(3){
        background-color: #C13584;
        box-shadow: 1px 1px 20px #C13584,
        -1px -1px 20px #C13584  ;
      }
      &:nth-child(4){
        background-color: #171515;
        box-shadow: 1px 1px 20px #171515,
        -1px -1px 20px #171515;
      }
      &:nth-child(5){
        background-color: #0088CC;
        box-shadow: 1px 1px 20px #0088CC,
        -1px -1px 20px #0088CC;
      }
      &:nth-child(6){
        background-color: rgb(1,169,132);
        box-shadow: 1px 1px 20px rgb(1,169,132),
        -1px -1px 20px rgb(1,169,132);
      }
      &:nth-child(7){
        background-color: rgb(1,169,132);
        box-shadow: 1px 1px 20px rgb(1,169,132),
        -1px -1px 20px rgb(1,169,132);
      }
      &:nth-child(8){
        background-color: black;
        box-shadow: 1px 1px 20px black,
        -1px -1px 20px black;
      }
      &:nth-child(9){
        background-color: rgb(48,60,55);
        box-shadow: 1px 1px 20px rgb(48,60,55),
        -1px -1px 20px rgb(48,60,55);
      }
    }
  }
}

.header-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform .6s ease !important;
}
.header-text h1 {
  font-size: 10rem;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-align: center;
}
.header-text h2 {
  font-size: 6rem;
  text-align: left;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
}
#passion {
  color: var(--shade3);
}
