    .model1{
        position: absolute;
        left: -180px;
        bottom: 0;
        z-index: 99;
    }
    .model2{
        position: absolute;
        right: -180px;
        bottom: 0px;
        z-index: 99;
        
    }

