    .model1{
        position: absolute;
        left: -180px;
        bottom: 0;
        z-index: 99; 
        
    }
    .model1 img,
    .model2 img{
        height: 30vh;
    }
    .model2{
        position: absolute;
        right: -180px;
        bottom: 0px;
        z-index: 99;
    }

