$curve-width:3rem;
nav {
  height: 100vh;
  width: 10rem;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 9999999 !important;
  transition: .4s all ease;
  
  .nav {
    height: 100vh;
    width: 33rem;
    background-color: rgb(92, 151, 240);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 15rem 0;
  }
  
  .link {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding-left: 3rem;
    border-radius: 4rem 0 0 4rem;
    justify-content: start;
    transition: .4s all ease;
    
    a{
      transition: .3s all ease;
    }
    
    &:hover a{
      transform: scale(1.25);
    }
  }
  
  .active {
    background-color: black;
    position: relative;
    overflow: visible;
    
    b:nth-child(1) {
      position: absolute;
      width: 6rem;
      height: 3rem;
      background-color: black;
      top: -3rem;
      transition: .4s all ease;
    }
    b:nth-child(1)::after {
      content: "";
      position: absolute;
      top: 0rem;
      width: 100%;
      height: 3rem;
      border-bottom-right-radius: 2rem;
      background-color: rgb(92, 151, 240);
    }
    b:nth-child(3) {
      position: absolute;
      width: 6rem;
      height: 3rem;
      background-color: black;
      bottom: -3rem;
      transition:.4s all ease;
    }
    b:nth-child(3):after {
        content: "";
        position: absolute;
        top: 0rem;
        width: 100%;
        height: 3rem;
        border-top-right-radius: 2rem;
        background-color: rgb(92, 151, 240);
      }
    a{
        color: white;

        i{
          color: white;
        }
    }
  }

  a {
    font-size: 2rem;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;

    i{
        font-size: 3rem;
        padding-right: 2rem;
        color: black;
        display: block;
    }
    h2{
      display: none;
    }
  }
}


nav:hover{
    width: 33rem;
    .link{
        margin-left: 4rem;
        padding-left: 4rem;
        justify-content: none;

    }
    .active{
        b:nth-child(1),
        b:nth-child(3){
            width: 25rem;
        }
    }
    a{
        text-align: none;
        // 
        h2{
            display: block;
        }
    }
}

