/* lg */ 
@media (min-width: 1200px) {
    html{
        font-size:50% !important;
    }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	html{
        font-size:35% !important;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 30% !important;;
    }
    
}

/* xs */
@media (max-width: 767px) {
    html{
        font-size: 22% !important;;
    }
    // .header-strip{
    //     width: 16rem;
    // }
}

/* XS Portrait */
@media (max-width: 479px) {
    html{
        font-size: 15% !important;;
    }
    // .header-strip{
    //     width: 18rem;
    // }
}

@media (max-width: 900px) {
	nav{
    height: 70px;
    width: 100vw !important;
    top: auto;
    bottom: 0rem;
    z-index: 99;
    


    .nav{
      width: 100vw !important;
      height: 70px !important;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 0 15rem;
      overflow: hidden;
      padding-bottom: 5px;
    }

    .link {
      margin-left: 4rem;
      border-radius: 0 0 100px 100px;
      justify-content: center;
    }
    a{
      i{
        font-size: 25px;
      }
    }
  }

  .active{
    b:nth-child(1) {
      width: $curve-width !important;
      height: 70px !important;
      top: 0 !important;
      left: -$curve-width;
    }
    b:nth-child(1)::after{
      height: 70px !important;
      width: $curve-width;
      border-top-right-radius: 30px !important;
      border-bottom-right-radius: 0rem !important;
    }
    b:nth-child(3) {
      width: $curve-width !important;
      height: 70px !important;
      top: 0;
      right: -$curve-width;
    }
    b:nth-child(3)::after{
      height: 70px !important;
      width: $curve-width;
      border-top-left-radius: 30px ;
      border-top-right-radius: 0rem !important;
    }
  }
  
  nav:hover{
    width: 100vw !important;
    .link{
        margin-left: 4rem;
        padding-left: 3rem;
        justify-content: center;

    }
    .active{
        b:nth-child(1),
        b:nth-child(3){
            width: $curve-width;
        }
    }
    a{
        text-align: left;
        // 
        h2{
            display: none;
        }
    }
  }
  .header-strip{
    height: 91vh;
    
    &::before{
      width: 20px;
    }
    .strip-dots{
      left: -8px;
    }
  }



  .s-box{
      grid-template-columns: 1fr !important;
  }
  .skill h3,
  .skill ion-icon,
  .skill i,
  .skill span {
    font-size: 6rem !important;
  }
  .project{
    width: 80vw;
    height: 75vh;
    margin-bottom: 70px;
  }
  .photo{
    // grid-gap: 0rem !important;


    .photo1{
      grid-template-columns: 1fr !important;
      padding: 0 !important;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      margin-right: 5rem;

      div{
        grid-row: auto !important;
        grid-column: auto !important;
        grid-gap: 5rem;
      }
    }
    
  }
  #contact{
    font-size: 5rem !important;
    h2{
      font-size: 10rem;
    }
    h3{
      font-size: 8rem;
      margin-top: 3rem !important;
    }

    input,textarea{
      padding: 5rem 0  5rem 5rem !important;
    }
    input[type=submit]{
      padding: 5rem  10rem  5rem 10rem  !important;
    }
    .formBox{
      top: 30%;
    }
  }
  .Cdown{
    font-size: 10rem !important;
    margin-top: 100rem !important;
  }
  .Cprogress{
    width: 45rem !important;
    height: 45rem !important;
  }

  #about{
    .aboutback{
      background-position: left;
      // display: none;
    }

    .abouttext{
      left: 0%;
      right: 0;
      margin: 0 auto;
      width: 80vw;

      h1{
        font-size: 8rem;
        margin-bottom: 3rem;
      }
      p{
        font-size: 6rem;
      }
      h2{
        font-size: 4rem;
      }
    }
  }
  .model1,
  .model2{
    display: none !important;
  }
}