header ion-icon{
    animation: pop 1s linear infinite;
}
@keyframes pop {
    0%{
        transform:translateY(0px);
    }
    30%{
        transform:translateY(-40px);
    }
    100%{
        transform:translateY(0px);
    }
}

header li::after{
    animation: rollright 3s steps(15) infinite;
}
@keyframes rollright {
    40%{
        left: 100%;
    }
    60%{
        left: 100%;
    }
}

header li{
    animation: rollup 9s steps(3) infinite;
}
@keyframes rollup {
    0%{
        top: 0;
    }
    100%{
        top: -162px;
    }
}