@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 65.5% !important;
}

:root {
  --base: #140a15;
  --black: #0b0404;
  --shade1: #2d0407;
  --shade2: #ef3513;
  --shade3: #d70607;
  --shade4: #4b040d;
  --text1: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .preloader ----------------------------------- */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--black) url(../images/loader.gif) no-repeat center center;
  z-index: 999;
  display: block;
}

/* ==============nav====================== */
nav {
  height: 100vh;
  width: 30rem;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 999;
  transition: 0.4s all ease;
}
nav .nav {
  height: 100vh;
  width: 30rem;
  background-color: #5c97f0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 15rem 0;
}
nav .toggle {
  position: absolute;
  top: 2rem;
  left: 45%;
  cursor: pointer;
}
nav .toggle #close {
  display: block;
  font-size: 4rem;
  color: #921010;
}
nav .toggle #open {
  display: none;
  font-size: 4rem;
  color: #880f0f;
}
nav .link {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  padding-left: 4rem;
  border-radius: 4rem 0 0 4rem;
}
nav .link a {
  transition: 0.3s all ease;
}
nav .link:hover a {
  transform: scale(1.4);
}
nav .active {
  background-color: black;
  position: relative;
  overflow: visible;
}
nav .active b:nth-child(1) {
  position: absolute;
  width: 22rem;
  height: 3rem;
  background-color: black;
  top: -3rem;
}
nav .active b:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-bottom-right-radius: 2rem;
  background-color: #5c97f0;
}
nav .active b:nth-child(3) {
  position: absolute;
  width: 22rem;
  height: 3rem;
  background-color: black;
  bottom: -3rem;
}
nav .active b:nth-child(3):after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-top-right-radius: 2rem;
  background-color: #5c97f0;
}
nav .active a {
  color: white;
}
nav .active a i {
  color: white;
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
nav a i {
  font-size: 3rem;
  padding-right: 2rem;
  color: black;
}

.nav1 {
  width: 10rem;
}
.nav1 .link {
  margin-left: 1rem;
  padding-left: 3rem;
  justify-content: start;
}
.nav1 .active b:nth-child(1),
.nav1 .active b:nth-child(3) {
  width: 6rem;
}
.nav1 a {
  text-align: left;
}
.nav1 a i {
  display: block;
}
.nav1 a h2 {
  display: none;
}

/* ==============header====================== */
header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header-bc {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(transparent 80%, black), url("../images/header-bc.jpeg") fixed center center;
  background-size: cover;
  filter: blur(1px);
}

.header-strip {
  width: 12rem;
  height: 95vh;
  position: fixed;
  padding-right: 2rem;
  top: 0;
  right: 0;
  z-index: 1;
  transform: scale(0);
  transition: transform 0.6s ease !important;
}
.header-strip a {
  margin: 12px 0;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 4rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all ease;
  box-shadow: 1px 1px 5px black;
}
.header-strip a:nth-child(1) {
  color: #4267B2;
}
.header-strip a:nth-child(2) {
  color: #0E76A8;
}
.header-strip a:nth-child(3) {
  color: #C13584;
}
.header-strip a:nth-child(4) {
  color: #171515;
}
.header-strip a:nth-child(5) {
  color: #0088CC;
}
.header-strip a:nth-child(6) {
  color: #01a984;
}
.header-strip a:hover {
  transform: scale(1.1);
  font-size: 5rem;
  color: white;
}
.header-strip a:hover:nth-child(1) {
  background-color: #4267B2;
  box-shadow: 1px 1px 20px #4267B2, -1px -1px 20px #4267B2;
}
.header-strip a:hover:nth-child(2) {
  background-color: #0E76A8;
  box-shadow: 1px 1px 20px #0E76A8, -1px -1px 20px #0E76A8;
}
.header-strip a:hover:nth-child(3) {
  background-color: #C13584;
  box-shadow: 1px 1px 20px #C13584, -1px -1px 20px #C13584;
}
.header-strip a:hover:nth-child(4) {
  background-color: #171515;
  box-shadow: 1px 1px 20px #171515, -1px -1px 20px #171515;
}
.header-strip a:hover:nth-child(5) {
  background-color: #0088CC;
  box-shadow: 1px 1px 20px #0088CC, -1px -1px 20px #0088CC;
}
.header-strip a:hover:nth-child(6) {
  background-color: #01a984;
  box-shadow: 1px 1px 20px #01a984, -1px -1px 20px #01a984;
}

.header-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 0.6s ease !important;
}

.header-text h1 {
  font-size: 10rem;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-align: center;
}

.header-text h2 {
  font-size: 6rem;
  text-align: left;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
}

#passion {
  color: var(--shade3);
}

/* ==============main====================== */
main {
  font-size: 3rem;
}

/* skills==================================== */
.skills {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/coding.png) fixed center center;
  background-size: cover;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.s-box {
  min-width: 80%;
  min-height: 70%;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 20px black;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.s-box::after {
  content: "SKILLS";
  color: var(--text1);
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  filter: opacity(0.2);
  text-align: right;
  right: 10%;
  z-index: 0;
}

.skill-left,
.skill-right {
  height: 100%;
  margin: 0 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.skill {
  margin-top: 5px;
  padding: auto;
  padding-top: 10%;
  font-size: 3rem;
}

.skill h3 {
  margin-bottom: 30px;
}

.skill ion-icon,
.skill i,
.skill span {
  color: var(--shade3);
  margin-right: 5px;
  font-weight: 700;
}

.progress {
  height: 2rem !important;
  position: relative;
  cursor: pointer;
  z-index: 1 !important;
  border-radius: 2rem !important;
}

.progress::after {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 82%, rgba(0, 212, 255, 0.2357317927) 100%);
}

.progress::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: transparent;
  border-right: 3px solid black;
}

/* html */
.pro-1::after,
.pro-1::before {
  width: 90%;
}

/* css  */
.pro-2::after,
.pro-2::before {
  width: 65%;
}

/* js  */
.pro-3::after,
.pro-3::before {
  width: 55%;
}

/* c  */
.pro-4::after,
.pro-4::before {
  width: 55%;
}

/* java  */
.pro-5::after,
.pro-5::before {
  width: 40%;
}

/* edit */
.pro-6::after,
.pro-6::before {
  width: 50%;
}

/* project==================================== */
#project {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../images/pro-back.jpg") fixed center;
  background-size: cover;
}

.project {
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  z-index: 10;
  margin: 5rem;
}
.project .project1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5rem;
}
.project .project1 div {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 4rem;
  overflow-y: hidden;
  border: 1px solid black;
  border-bottom: none;
  box-shadow: 1px 1px 10px rgba(121, 99, 99, 0.445), -1px -1px 10px rgba(121, 99, 99, 0.445);
  transition: 0.3s all ease;
  margin: 1rem;
}
.project .project1 div:hover {
  transform: scale(1.03);
}
.project .project1 div a {
  text-decoration: none;
}
.project .project1 div a img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
}
.project .project1 div a h3 {
  padding-top: 0.5rem;
  text-align: center;
  color: white;
}
.project .project1 div a:hover img {
  height: 85%;
}

/* project==================================== */
#photo {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/photo-background.jpeg") center;
  background-size: cover;
  background-attachment: fixed;
}
#photo .photo {
  width: 85vw;
  height: 80vh;
  padding: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
#photo .photo .photo1 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 30px;
  overflow: hidden;
  grid-gap: 3rem;
}
#photo .photo .photo1 .pic-1 {
  grid-row: 1/4;
  grid-column: 1/4;
}
#photo .photo .photo1 .pic-2 {
  grid-row: 2/5;
  grid-column: 1/4;
}
#photo .photo .photo1 div {
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  transition: 0.3s all ease;
}
#photo .photo .photo1 div:hover {
  box-shadow: 0px 0px 20px white;
  transform: scale(1.1);
}
#photo .photo .photo1 div img {
  width: 100%;
  height: 100%;
}

/* about==================================== */
#about {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#about .aboutback {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background: url("../images/about-back.jpeg") fixed;
  background-position: center;
  background-size: cover;
}
#about .abouttext {
  position: absolute;
  top: 0;
  left: 10vw;
  max-width: 80vw;
  width: 40vw;
  height: 100vh;
}
#about .abouttext h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
#about .abouttext p {
  font-size: 3rem;
}
#about .abouttext a {
  text-decoration: none;
  display: inline;
}

/* contact==================================== */
#contact {
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/contact-back.jpg") fixed center no-repeat;
  background-size: cover;
  color: white;
}
#contact h2 {
  text-align: center;
  font-size: 6rem;
  color: orange;
}
#contact h3 {
  font-size: 4rem;
  text-align: center;
}
#contact .Cform {
  flex-direction: row;
  margin-top: 4rem;
}
#contact .Cform input, #contact .Cform textarea {
  margin: 2rem;
  padding: 1rem;
  padding-left: 20px;
  border: none;
  outline: none;
  border-radius: 2rem;
  box-shadow: inset 1px 1px 10px black, inset -1px -1px 10px black;
  transition: 1s all ease;
}
#contact .Cform input:active, #contact .Cform input:visited, #contact .Cform textarea:active, #contact .Cform textarea:visited {
  box-shadow: 2px 2px 10px white, inset 1px 1px 10px black, inset -1px -1px 10px black;
}
#contact .Cform input::-webkit-outer-spin-button,
#contact .Cform input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#contact .Cform input[type=number] {
  -moz-appearance: textfield;
}
#contact .formBox {
  position: absolute;
  top: 10%;
  left: -150vw;
  margin: 0 auto;
  transition: 0.3s all ease;
}
#contact .formBox:nth-child(1) {
  left: 0px;
  right: 0;
}
#contact .Cdown {
  flex-direction: row;
  font-size: 6rem;
  margin-top: 30rem;
}
#contact .Cprevious,
#contact .Cnext {
  height: 9rem;
  cursor: pointer;
  position: relative;
  padding-top: 3rem;
  overflow: visible;
  color: rgba(245, 245, 245, 0.3);
  margin: 0 6rem;
  transition: 0.3s all ease;
}
#contact .Cprevious:hover,
#contact .Cnext:hover {
  transform: scale(1.1);
}
#contact .Cprevious:hover::before,
#contact .Cnext:hover::before {
  content: "Previous";
  color: #148a8a;
  font-size: 3rem;
  position: absolute;
  top: 0rem;
  z-index: 100;
}
#contact .Cnext {
  color: white;
}
#contact .Cnext:hover::before {
  content: "Next";
}
#contact .Cprogress {
  width: 25rem;
  height: 25rem;
  background: conic-gradient(white 25%, white 50%, white 75%, white 100%);
  border-radius: 50%;
  position: relative;
  box-shadow: inset 1px 1px 5px black, 0px 0px 10px white;
  color: black;
  margin: 2rem;
  z-index: 10;
}
#contact .Cprogress::before {
  content: "";
  position: absolute;
  top: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 1px 1px 10px black;
  z-index: -1;
}

/* qrcode==================================== */
.qr-code-w {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  background-color: #01a984;
  overflow: hidden;
}
.qr-code-w img {
  height: 100%;
}

.qr-code-t {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  background-color: black;
  overflow: hidden;
}
.qr-code-t img {
  height: 100%;
}

/* ==============animation====================== */
.progress::after {
  -webkit-animation: cameright 10s infinite;
          animation: cameright 10s infinite;
}

@-webkit-keyframes cameright {
  0% {
    left: -100%;
  }
  40% {
    left: 0px;
  }
  70% {
    left: 0%;
  }
  90% {
    left: -100%;
  }
}

@keyframes cameright {
  0% {
    left: -100%;
  }
  40% {
    left: 0px;
  }
  70% {
    left: 0%;
  }
  90% {
    left: -100%;
  }
}
.progress::before {
  -webkit-animation: cameright1 10s infinite;
          animation: cameright1 10s infinite;
}

@-webkit-keyframes cameright1 {
  0% {
    left: -100%;
  }
  40% {
    left: 10px;
  }
  41% {
    left: 0px;
  }
  70% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}

@keyframes cameright1 {
  0% {
    left: -100%;
  }
  40% {
    left: 10px;
  }
  41% {
    left: 0px;
  }
  70% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}
.nactive .left {
  transform: translatex(-100vw);
}
.nactive .right {
  transform: translatex(100vw);
}
.nactive .shrink {
  transform: scale(0);
}

.sactive .anima {
  -webkit-animation: flip 2s;
          animation: flip 2s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
@-webkit-keyframes flip {
  0% {
    transform: rotatey(0deg);
  }
  20% {
    transform: rotatey(-30deg);
  }
  40% {
    transform: rotatey(30deg);
  }
  60% {
    transform: rotatey(-15deg);
  }
  80% {
    transform: rotatey(15deg);
  }
  100% {
    transform: rotatey(0deg);
  }
}
@keyframes flip {
  0% {
    transform: rotatey(0deg);
  }
  20% {
    transform: rotatey(-30deg);
  }
  40% {
    transform: rotatey(30deg);
  }
  60% {
    transform: rotatey(-15deg);
  }
  80% {
    transform: rotatey(15deg);
  }
  100% {
    transform: rotatey(0deg);
  }
}
.sactive .start {
  -webkit-animation: forwardbar 2s;
          animation: forwardbar 2s;
}
@-webkit-keyframes forwardbar {
  0% {
    background: conic-gradient(white 25%, white 50%, white 75%, white 100%);
  }
  12% {
    background: conic-gradient(orange 25%, white 50%, white 75%, white 100%);
  }
  24% {
    background: conic-gradient(orange 25%, orange 50%, white 75%, white 100%);
  }
  36% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, white 100%);
  }
  48% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, orange 100%);
  }
  60% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, orange 100%);
  }
  72% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, white 100%);
  }
  84% {
    background: conic-gradient(orange 25%, orange 50%, white 75%, white 100%);
  }
  96% {
    background: conic-gradient(orange 25%, white 50%, white 75%, white 100%);
  }
  100% {
    background: conic-gradient(white 25%, white 50%, white 75%, white 100%);
  }
}
@keyframes forwardbar {
  0% {
    background: conic-gradient(white 25%, white 50%, white 75%, white 100%);
  }
  12% {
    background: conic-gradient(orange 25%, white 50%, white 75%, white 100%);
  }
  24% {
    background: conic-gradient(orange 25%, orange 50%, white 75%, white 100%);
  }
  36% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, white 100%);
  }
  48% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, orange 100%);
  }
  60% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, orange 100%);
  }
  72% {
    background: conic-gradient(orange 25%, orange 50%, orange 75%, white 100%);
  }
  84% {
    background: conic-gradient(orange 25%, orange 50%, white 75%, white 100%);
  }
  96% {
    background: conic-gradient(orange 25%, white 50%, white 75%, white 100%);
  }
  100% {
    background: conic-gradient(white 25%, white 50%, white 75%, white 100%);
  }
}
.sactive .left {
  transform: translatex(0px);
  transition: transform 0.6s ease !important;
}
.sactive .right {
  transform: translatex(0px);
  transition: transform 0.6s ease !important;
}
.sactive .shrink {
  transform: scale(1);
  transition: transform 0.6s ease !important;
}

/* ==============scrollanimation====================== */
/* ==============responsive====================== */
/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 50% !important;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 35% !important;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 30% !important;
  }
}
/* xs */
@media (max-width: 767px) {
  html {
    font-size: 22% !important;
  }

  .header-strip {
    width: 16rem;
  }
}
/* XS Portrait */
@media (max-width: 479px) {
  html {
    font-size: 15% !important;
  }

  .header-strip {
    width: 18rem;
  }
}
@media (max-width: 900px) {
  nav {
    height: 70px;
    width: 100vw !important;
    top: auto;
    bottom: 0rem;
    z-index: 99;
  }
  nav .nav {
    width: 100vw !important;
    height: 70px !important;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0 15rem;
    overflow: hidden;
    padding-bottom: 5px;
  }
  nav .link {
    margin-left: 4rem;
    border-radius: 0 0 100px 100px;
  }
  nav a i {
    font-size: 25px;
  }

  .toggle {
    display: none;
  }

  .active b:nth-child(1) {
    width: 3rem;
    height: 70px !important;
    top: 0 !important;
    left: -3rem;
  }
  .active b:nth-child(1)::after {
    height: 70px !important;
    width: 3rem;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 0rem !important;
  }
  .active b:nth-child(3) {
    width: 3rem;
    height: 70px !important;
    top: 0;
    right: -3rem;
  }
  .active b:nth-child(3)::after {
    height: 70px !important;
    width: 3rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 0rem !important;
  }

  .nav1 {
    width: 100vw !important;
  }
  .nav1 .link {
    justify-content: center;
  }

  .s-box {
    grid-template-columns: 1fr !important;
  }

  .skill h3 {
    font-size: 6rem !important;
  }

  .project {
    width: 80vw;
    height: 75vh;
    margin-bottom: 70px;
  }

  .photo .photo1 {
    grid-template-columns: 1fr !important;
    padding: 0 !important;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-right: 5rem;
  }
  .photo .photo1 div {
    grid-row: auto !important;
    grid-column: auto !important;
    grid-gap: 5rem;
  }

  #contact {
    font-size: 5rem !important;
  }
  #contact h2 {
    font-size: 10rem;
  }
  #contact h3 {
    font-size: 8rem;
    margin-top: 3rem !important;
  }
  #contact .formBox {
    top: 30%;
  }

  .Cdown {
    font-size: 10rem !important;
    margin-top: 100rem !important;
  }

  .Cprogress {
    width: 45rem !important;
    height: 45rem !important;
  }

  #about .aboutback {
    background-position: left;
  }
  #about .abouttext {
    left: 0%;
    right: 0;
    margin: 0 auto;
    width: 80vw;
  }
  #about .abouttext h1 {
    font-size: 8rem;
    margin-bottom: 3rem;
  }
  #about .abouttext p {
    font-size: 6rem;
  }
  #about .abouttext h2 {
    font-size: 4rem;
  }
}/*# sourceMappingURL=main.css.map */