@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 65.5% !important;
}

:root {
  --base: #140a15;
  --black: #0b0404;
  --shade1: #2d0407;
  --shade2: #ef3513;
  --shade3: #d70607;
  --shade4: #4b040d;
  --text1: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .preloader ----------------------------------- */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--black) url(../images/loader.gif) no-repeat center center;
  z-index: 999;
  display: block;
}

/* ==============nav====================== */
nav {
  height: 100vh;
  width: 30rem;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  transition: 0.4s all ease;
}
nav .nav {
  height: 100vh;
  width: 30rem;
  background-color: #5c97f0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 15rem 0;
}
nav .toggle {
  position: absolute;
  top: 2rem;
  left: 45%;
  cursor: pointer;
}
nav .toggle #close {
  display: block;
  font-size: 4rem;
  color: #921010;
}
nav .toggle #open {
  display: none;
  font-size: 4rem;
  color: #880f0f;
}
nav .link {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  padding-left: 4rem;
  border-radius: 4rem 0 0 4rem;
}
nav .active {
  background-color: white;
  position: relative;
  overflow: visible;
}
nav .active b:nth-child(1) {
  position: absolute;
  width: 22rem;
  height: 3rem;
  background-color: white;
  top: -3rem;
}
nav .active b:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-bottom-right-radius: 2rem;
  background-color: #5c97f0;
}
nav .active b:nth-child(3) {
  position: absolute;
  width: 22rem;
  height: 3rem;
  background-color: white;
  bottom: -3rem;
}
nav .active b:nth-child(3):after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-top-right-radius: 2rem;
  background-color: #5c97f0;
}
nav .active a {
  color: black;
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
nav a i {
  font-size: 3rem;
  padding-right: 2rem;
  color: black;
}

.nav1 {
  width: 10rem;
}
.nav1 .link {
  margin-left: 1rem;
  padding-left: 3rem;
  justify-content: start;
}
.nav1 .active b:nth-child(1),
.nav1 .active b:nth-child(3) {
  width: 6rem;
}
.nav1 a {
  text-align: left;
}
.nav1 a i {
  display: block;
}
.nav1 a h2 {
  display: none;
}

/* ==============header====================== */
.globlin {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.globlin img {
  width: 30rem;
  position: absolute;
  top: -40rem;
  z-index: 100;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header-bc {
  width: 100vw;
  height: 95vh;
  background: linear-gradient(transparent 80%, white), url("../images/header-bc.jpeg") fixed center center;
  background-size: cover;
  filter: blur(1px);
}

.header-cloud {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.header-cloud img {
  position: absolute;
  bottom: 0;
  height: 300px;
}

.header-strip {
  width: 12rem;
  height: 95vh;
  position: absolute;
  padding-right: 2rem;
  top: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.header-strip a {
  margin: 12px 0;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 4rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all ease;
  box-shadow: 1px 1px 5px black;
}
.header-strip a:nth-child(1) {
  color: #4267B2;
}
.header-strip a:nth-child(2) {
  color: #0E76A8;
}
.header-strip a:nth-child(3) {
  color: #C13584;
}
.header-strip a:nth-child(4) {
  color: #171515;
}
.header-strip a:nth-child(5) {
  color: #0088CC;
}
.header-strip a:hover {
  font-size: 5rem;
  color: white;
}
.header-strip a:hover:nth-child(1) {
  background-color: #4267B2;
  box-shadow: 1px 1px 20px #4267B2, -1px -1px 20px #4267B2;
}
.header-strip a:hover:nth-child(2) {
  background-color: #0E76A8;
  box-shadow: 1px 1px 20px #0E76A8, -1px -1px 20px #0E76A8;
}
.header-strip a:hover:nth-child(3) {
  background-color: #C13584;
  box-shadow: 1px 1px 20px #C13584, -1px -1px 20px #C13584;
}
.header-strip a:hover:nth-child(4) {
  background-color: #171515;
  box-shadow: 1px 1px 20px #171515, -1px -1px 20px #171515;
}
.header-strip a:hover:nth-child(5) {
  background-color: #0088CC;
  box-shadow: 1px 1px 20px #0088CC, -1px -1px 20px #0088CC;
}

.header-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.header-text h1 {
  font-size: 10rem;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-align: center;
}

.header-text h2 {
  font-size: 6rem;
  text-align: left;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
}

#passion {
  color: var(--shade3);
}

/* ==============main====================== */
main {
  width: 100%;
  height: 100vh;
  font-size: 3rem;
}

/* skills==================================== */
.skills {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/coding.png) fixed center center;
  background-size: cover;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.s-box {
  min-width: 80%;
  min-height: 70%;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 20px black;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.s-box::after {
  content: "SKILLS";
  color: var(--text1);
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  filter: opacity(0.2);
  text-align: right;
  right: 10%;
  z-index: 0;
}

.skill-left,
.skill-right {
  height: 100%;
  margin: 0 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.skill {
  margin-top: 5px;
  padding: auto;
  padding-top: 10%;
  font-size: 3rem;
}

.skill h3 {
  margin-bottom: 30px;
}

.skill ion-icon,
.skill i,
.skill span {
  color: var(--shade3);
  margin-right: 5px;
  font-weight: 700;
}

.progress {
  height: 2rem !important;
  position: relative;
  cursor: pointer;
  z-index: 1 !important;
  border-radius: 2rem !important;
}

.progress::after {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 82%, rgba(0, 212, 255, 0.2357317927) 100%);
}

.progress::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: transparent;
  border-right: 3px solid black;
}

/* html */
.pro-1::after,
.pro-1::before {
  width: 90%;
}

/* css  */
.pro-2::after,
.pro-2::before {
  width: 65%;
}

/* js  */
.pro-3::after,
.pro-3::before {
  width: 55%;
}

/* c  */
.pro-4::after,
.pro-4::before {
  width: 55%;
}

/* java  */
.pro-5::after,
.pro-5::before {
  width: 40%;
}

/* edit */
.pro-6::after,
.pro-6::before {
  width: 50%;
}

/* ==============animation====================== */
.globlin img {
  -webkit-animation: UtoD 10s linear;
          animation: UtoD 10s linear;
  transition: 0.3s all ease;
}

@-webkit-keyframes UtoD {
  0% {
    top: -10%;
    left: -10;
    width: 10rem;
  }
  10% {
    top: 0%;
    left: 0;
    width: 15rem;
  }
  48% {
    top: 30%;
    left: 30%;
    width: 40rem;
  }
  50% {
    width: 60rem;
  }
  52% {
    top: 30%;
    left: 30%;
  }
  80% {
    width: 30rem;
  }
  100% {
    top: 110%;
    left: 110%;
    width: 10rem;
  }
}

@keyframes UtoD {
  0% {
    top: -10%;
    left: -10;
    width: 10rem;
  }
  10% {
    top: 0%;
    left: 0;
    width: 15rem;
  }
  48% {
    top: 30%;
    left: 30%;
    width: 40rem;
  }
  50% {
    width: 60rem;
  }
  52% {
    top: 30%;
    left: 30%;
  }
  80% {
    width: 30rem;
  }
  100% {
    top: 110%;
    left: 110%;
    width: 10rem;
  }
}
.progress::after {
  -webkit-animation: cameright 10s infinite;
          animation: cameright 10s infinite;
}

@-webkit-keyframes cameright {
  0% {
    left: -100%;
  }
  40% {
    left: 0px;
  }
  70% {
    left: 0%;
  }
  90% {
    left: -100%;
  }
}

@keyframes cameright {
  0% {
    left: -100%;
  }
  40% {
    left: 0px;
  }
  70% {
    left: 0%;
  }
  90% {
    left: -100%;
  }
}
.progress::before {
  -webkit-animation: cameright1 10s infinite;
          animation: cameright1 10s infinite;
}

@-webkit-keyframes cameright1 {
  0% {
    left: -100%;
  }
  40% {
    left: 10px;
  }
  41% {
    left: 0px;
  }
  70% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}

@keyframes cameright1 {
  0% {
    left: -100%;
  }
  40% {
    left: 10px;
  }
  41% {
    left: 0px;
  }
  70% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}
.header-cloud:nth-child(2) img {
  -webkit-animation: move-right 8s linear infinite;
          animation: move-right 8s linear infinite;
  transform: translateX(-100%);
}

.header-cloud:nth-child(3) img {
  -webkit-animation: move-right 8s linear 3s infinite;
          animation: move-right 8s linear 3s infinite;
  transform: translateX(-100%);
}

.header-cloud:nth-child(4) img {
  -webkit-animation: move-right 8s linear 6s infinite;
          animation: move-right 8s linear 6s infinite;
  transform: translateX(-100%);
}

@-webkit-keyframes move-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(150%);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(150%);
  }
}
@-webkit-keyframes move-right-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}
@keyframes move-right-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}
/* ==============responsive====================== */
/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 50% !important;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 35% !important;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 30% !important;
  }
}
/* xs */
@media (max-width: 767px) {
  html {
    font-size: 22% !important;
  }

  .header-strip {
    width: 16rem;
  }
}
/* XS Portrait */
@media (max-width: 479px) {
  html {
    font-size: 15% !important;
  }

  .header-strip {
    width: 18rem;
  }
}
@media (max-width: 900px) {
  nav {
    height: 70px;
    width: 100vw !important;
    top: auto;
    bottom: 0rem;
  }
  nav .nav {
    width: 100vw !important;
    height: 70px !important;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0 15rem;
    overflow: hidden;
    padding-bottom: 5px;
  }
  nav .link {
    margin-left: 4rem;
    border-radius: 0 0 100px 100px;
  }
  nav a i {
    font-size: 25px;
  }

  .toggle {
    display: none;
  }

  .active b:nth-child(1) {
    width: 3rem;
    height: 70px !important;
    top: 0 !important;
    left: -3rem;
  }
  .active b:nth-child(1)::after {
    height: 70px !important;
    width: 3rem;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 0rem !important;
  }
  .active b:nth-child(3) {
    width: 3rem;
    height: 70px !important;
    top: 0;
    right: -3rem;
  }
  .active b:nth-child(3)::after {
    height: 70px !important;
    width: 3rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 0rem !important;
  }

  .nav1 {
    width: 100vw !important;
  }
  .nav1 .link {
    justify-content: center;
  }

  .s-box {
    grid-template-columns: 1fr !important;
  }

  .skill h3 {
    font-size: 6rem !important;
  }
}/*# sourceMappingURL=main.css.map */