@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html{
  font-size: 65.5%!important;
}
:root {
  --base: #140a15;
  --black: #0b0404;
  --shade1: #2d0407;
  --shade2: #ef3513;
  --shade3: #d70607;
  --shade4: #4b040d;
  --text1: white;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .preloader ----------------------------------- */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--black) url(../images/loader.gif) no-repeat center center;
  z-index: 999;
  display: block;
}
/* ==============nav====================== */
@import "nav.scss";
/* ==============header====================== */
@import "header.scss";
/* ==============main====================== */
main{
    font-size: 3rem;
  }
/* skills==================================== */
@import "skill.scss";
/* project==================================== */
@import "project.scss";
/* project==================================== */
@import "photo.scss";
/* contact==================================== */
@import "contact.scss";
/* ==============animation====================== */
@import "animation.scss";
/* ==============responsive====================== */
@import "responsive.scss";