@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 65.5% !important;
}

:root {
  --base: #140a15;
  --black: #0b0404;
  --shade1: #2d0407;
  --shade2: #ef3513;
  --shade3: #d70607;
  --shade4: #4b040d;
  --text1: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 5px;
  background: #fff;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #77bee7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #49a8df;
}

::-moz-selection {
  color: black !important;
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

::selection {
  color: black !important;
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

/* .preloader ----------------------------------- */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--black) url(../images/loader.gif) no-repeat center center;
  z-index: 999999999;
  display: block;
}

.button {
  padding: 2rem;
  font-size: 2.5rem;
  background-color: #77bee7;
  color: #000;
  outline: none;
  border-radius: 3rem;
  border: 0;
  box-shadow: 5px 5px 20px black;
  transition: 0.2s all ease;
}
.button a {
  color: #000;
  text-decoration: none;
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.95);
}

/* ==============nav====================== */
nav {
  height: 100vh;
  width: 10rem;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 9999999 !important;
  transition: 0.4s all ease;
}
nav .nav {
  height: 100vh;
  width: 33rem;
  background-color: rgb(92, 151, 240);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 15rem 0;
}
nav .link {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-left: 3rem;
  border-radius: 4rem 0 0 4rem;
  justify-content: start;
  transition: 0.4s all ease;
}
nav .link a {
  transition: 0.3s all ease;
}
nav .link:hover a {
  transform: scale(1.25);
}
nav .active {
  background-color: black;
  position: relative;
  overflow: visible;
}
nav .active b:nth-child(1) {
  position: absolute;
  width: 6rem;
  height: 3rem;
  background-color: black;
  top: -3rem;
  transition: 0.4s all ease;
}
nav .active b:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-bottom-right-radius: 2rem;
  background-color: rgb(92, 151, 240);
}
nav .active b:nth-child(3) {
  position: absolute;
  width: 6rem;
  height: 3rem;
  background-color: black;
  bottom: -3rem;
  transition: 0.4s all ease;
}
nav .active b:nth-child(3):after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-top-right-radius: 2rem;
  background-color: rgb(92, 151, 240);
}
nav .active a {
  color: white;
}
nav .active a i {
  color: white;
}
nav a {
  font-size: 2rem;
  text-align: left;
  text-decoration: none;
  letter-spacing: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
nav a i {
  font-size: 3rem;
  padding-right: 2rem;
  color: black;
  display: block;
}
nav a h2 {
  display: none;
}

nav:hover {
  width: 33rem;
}
nav:hover .link {
  margin-left: 4rem;
  padding-left: 4rem;
  justify-content: none;
}
nav:hover .active b:nth-child(1),
nav:hover .active b:nth-child(3) {
  width: 25rem;
}
nav:hover a {
  text-align: none;
}
nav:hover a h2 {
  display: block;
}

/* ==============nav====================== */
.model1 {
  position: absolute;
  left: -180px;
  bottom: 0;
  z-index: 99;
}

.model1 img,
.model2 img {
  height: 30vh;
}

.model2 {
  position: absolute;
  right: -180px;
  bottom: 0px;
  z-index: 99;
}

/* ==============header====================== */
header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header-bc {
  width: 110vw;
  height: 100vh;
  background: linear-gradient(transparent 80%, black), url("../images/header-bc.webp") fixed center center;
  background-size: 100% 100%;
  filter: blur(1px);
}

.header-strip {
  width: 120px;
  height: 100vh;
  position: fixed;
  padding-right: 2rem;
  top: 0;
  right: -100px;
  z-index: 9999;
  transition: all 0.6s ease !important;
  overflow-x: visible;
  border-radius: 54px 0 0 54px;
}
.header-strip::before {
  content: "";
  width: 30px;
  height: 140px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  z-index: 99999;
  border-radius: 80px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.header-strip:hover {
  right: 0;
  background: transparent;
}
.header-strip .strip-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  color: white;
  z-index: 99999;
  font-size: 12px;
  cursor: pointer;
}
.header-strip a {
  margin: 12px;
  margin-left: 50px;
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 4rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all ease;
  box-shadow: 1px 1px 5px black;
  border-radius: 13px;
  background-color: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow: -5px -5px 10px #5a5a5a, 5px 5px 10px #ffffff;
}
.header-strip a:nth-child(2) {
  color: #4267B2;
}
.header-strip a:nth-child(3) {
  color: #0E76A8;
}
.header-strip a:nth-child(4) {
  color: #C13584;
}
.header-strip a:nth-child(5) {
  color: #171515;
}
.header-strip a:nth-child(6) {
  color: rgb(1, 169, 132);
}
.header-strip a:nth-child(7) {
  color: gray;
}
.header-strip a:nth-child(8) {
  color: rgb(48, 200, 102);
}
.header-strip a:nth-child(9) {
  color: black;
}
.header-strip a:nth-child(10) {
  color: rgb(48, 60, 55);
}
.header-strip a:hover {
  transform: scale(1.1);
  font-size: 5rem;
  color: white;
}
.header-strip a:hover:nth-child(2) {
  background-color: #4267B2;
  box-shadow: 1px 1px 20px #4267B2, -1px -1px 20px #4267B2;
}
.header-strip a:hover:nth-child(3) {
  background-color: #0E76A8;
  box-shadow: 1px 1px 20px #0E76A8, -1px -1px 20px #0E76A8;
}
.header-strip a:hover:nth-child(4) {
  background-color: #C13584;
  box-shadow: 1px 1px 20px #C13584, -1px -1px 20px #C13584;
}
.header-strip a:hover:nth-child(5) {
  background-color: #171515;
  box-shadow: 1px 1px 20px #171515, -1px -1px 20px #171515;
}
.header-strip a:hover:nth-child(7) {
  background-color: gray;
  box-shadow: 1px 1px 20px gray, -1px -1px 20px gray;
}
.header-strip a:hover:nth-child(6) {
  background-color: rgb(1, 169, 132);
  box-shadow: 1px 1px 20px rgb(1, 169, 132), -1px -1px 20px rgb(1, 169, 132);
}
.header-strip a:hover:nth-child(8) {
  background-color: rgb(1, 169, 132);
  box-shadow: 1px 1px 20px rgb(1, 169, 132), -1px -1px 20px rgb(1, 169, 132);
}
.header-strip a:hover:nth-child(9) {
  background-color: black;
  box-shadow: 1px 1px 20px black, -1px -1px 20px black;
}
.header-strip a:hover:nth-child(10) {
  background-color: rgb(48, 60, 55);
  box-shadow: 1px 1px 20px rgb(48, 60, 55), -1px -1px 20px rgb(48, 60, 55);
}

.header-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 0.6s ease !important;
}

.header-text h1 {
  font-size: 12rem;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-align: center;
  font-weight: 900;
  text-shadow: 6px 6px 10px rgba(255, 255, 255, 0.8);
  padding: 2rem;
}

.header-text h2 {
  font-size: 6rem;
  text-align: left;
  letter-spacing: 1rem;
  color: var(--shade4);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-shadow: 5px 5px 7px rgba(255, 255, 255, 0.8);
}

#passion {
  color: var(--shade3);
}

/* ==============main====================== */
main {
  font-size: 3rem;
}

/* skills==================================== */
.skills {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(253, 253, 253, 0.5)), url(../images/coding.webp) fixed center center;
  background-size: cover;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.s-box {
  min-width: 80%;
  min-height: 70%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 20px black;
  position: relative;
  overflow: hidden;
  background: rgba(29, 24, 24, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.s-box::after {
  content: "SKILLS";
  color: var(--text1);
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 13rem;
  font-weight: bold;
  filter: opacity(0.3);
  text-align: right;
  right: 10%;
  z-index: 0;
}

.skill-left,
.skill-right {
  height: 100%;
  margin: 0 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.skill {
  margin-top: 5px;
  padding: auto;
  padding-top: 10%;
  font-size: 10rem;
  overflow: hidden;
}

.skill h3 {
  margin-bottom: 30px;
  font-size: 3rem;
  color: white;
}

.skill ion-icon,
.skill i,
.skill span {
  font-size: 3rem;
  color: rgb(152, 251, 121);
  margin-right: 5px;
  font-weight: 700;
}

.progress {
  height: 2rem !important;
  position: relative;
  cursor: pointer;
  z-index: 1 !important;
  border-radius: 2rem !important;
}

.progress::after {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.progress::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-color: transparent;
  border-right: 3px solid black;
}

/* html */
.pro-1::after,
.pro-1::before {
  width: 90%;
}

/* css  */
.pro-2::after,
.pro-2::before {
  width: 75%;
}

/* js  */
.pro-3::after,
.pro-3::before {
  width: 65%;
}

/* react js  */
.pro-4::after,
.pro-4::before {
  width: 50%;
}

/* java  */
.pro-5::after,
.pro-5::before {
  width: 60%;
}

/* edit */
.pro-6::after,
.pro-6::before {
  width: 50%;
}

/* project==================================== */
#project {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../images/pro-back.webp") fixed center;
  background-size: cover;
}

.project {
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  z-index: 10;
  margin: 5rem;
}
.project .project1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5rem;
  overflow: hidden;
}
.project .project1 div {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 4rem;
  overflow-y: hidden;
  border: 1px solid black;
  border-bottom: none;
  box-shadow: 1px 1px 10px rgba(121, 99, 99, 0.445), -1px -1px 10px rgba(121, 99, 99, 0.445);
  transition: 0.3s all ease;
  margin: 1rem;
}
.project .project1 div:hover {
  transform: scale(1.03);
}
.project .project1 div a {
  text-decoration: none;
}
.project .project1 div a img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
}
.project .project1 div a h3 {
  padding-top: 0.5rem;
  text-align: center;
  color: white;
}
.project .project1 div a:hover img {
  height: 85%;
}

/* project==================================== */
#photo {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/photo-background.webp") center;
  background-size: cover;
  background-attachment: fixed;
}
#photo .photo {
  width: 85vw;
  height: 80vh;
  padding: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
#photo .photo .photo1 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 30px;
  overflow: hidden;
  grid-gap: 3rem;
}
#photo .photo .photo1 .pic-1 {
  grid-row: 1/4;
  grid-column: 1/4;
}
#photo .photo .photo1 .pic-2 {
  grid-row: 2/5;
  grid-column: 1/4;
}
#photo .photo .photo1 div {
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  transition: 0.3s all ease;
}
#photo .photo .photo1 div:hover {
  box-shadow: 0px 0px 20px white;
  transform: scale(1.1);
}
#photo .photo .photo1 div img {
  width: 100%;
  height: 100%;
}

/* about==================================== */
#about {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: white;
}
#about .aboutback {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background: url("../images/about-back.jpg") fixed;
  background-position: center;
  background-size: cover;
}
#about .abouttext {
  position: absolute;
  top: 0;
  left: 10vw;
  max-width: 80vw;
  width: 40vw;
  height: 100vh;
  z-index: 999;
}
#about .abouttext h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
#about .abouttext p {
  font-size: 3rem;
}
#about .abouttext a {
  color: orange;
  text-decoration: none;
  display: inline;
}

/* contact==================================== */
#post {
  width: 100vw;
  height: 110vh;
  background: url("../images/post.jpg") fixed;
  position: relative;
}
#post button {
  position: absolute;
  right: 5rem;
  bottom: 3rem;
}
#post .posts {
  width: 80vw;
  height: 80vh;
  margin: 2rem;
  flex-direction: row !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  justify-content: space-evenly !important;
}
#post .posts iframe {
  width: 50rem;
  height: inherit;
  border-radius: 2rem;
  box-shadow: 5px 5px 40px black;
  transition: 0.3s all ease;
  transform: scale(0.9);
  position: relative;
}
#post .posts iframe:hover {
  transform: scale(1);
}
#post .posts .mid {
  transform: scale(0.95);
}
#post .posts .mid:hover {
  transform: scale(1.05);
}

/* contact==================================== */
#contact {
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  position: relative;
  background: url("../images/contact-back.jpg") fixed center no-repeat;
  background-size: cover;
}
#contact * {
  overflow: hidden;
}
#contact .left {
  border-radius: 5rem;
  width: 60rem;
  aspect-ratio: 12/16;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(91, 91, 91, 0.8) !important;
  box-shadow: 5px 5px 500px rgb(127, 126, 126), -5px -5px 500px rgb(97, 96, 96);
  transition: 0.3s all ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
  padding: 2rem;
  color: white;
}
#contact .left img {
  width: 50%;
  border-radius: 50%;
  transition: 0.3s all ease;
  box-shadow: 2px 2px 10px rgb(127, 127, 127);
}
#contact .left hr {
  width: 90% !important;
  margin: 2rem 0;
  height: 2px;
  background-color: rgb(251, 245, 245) !important;
}
#contact .left p {
  color: rgb(207, 206, 206);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
}
#contact .left p a {
  padding: 1rem !important;
  margin-right: 2rem;
  color: white;
}
#contact .left p i {
  margin-right: 0.5rem;
}
#contact .left:hover {
  transform: scale(1.05);
}
#contact .left:hover img {
  transform: scale(1.06);
}

/* qrcode==================================== */
.qr-code-w {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  background-color: rgb(1, 169, 132);
  overflow: hidden;
}
.qr-code-w img {
  height: 100%;
}

.qr-code-t {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.qr-code-t img {
  height: 100%;
}

/* ==============animation====================== */
/* 
/* ==============responsive====================== */
/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 50% !important;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 35% !important;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 30% !important;
  }
}
/* xs */
@media (max-width: 767px) {
  html {
    font-size: 22% !important;
  }
}
/* XS Portrait */
@media (max-width: 479px) {
  html {
    font-size: 15% !important;
  }
}
@media (max-width: 900px) {
  nav {
    height: 70px;
    width: 100vw !important;
    top: auto;
    bottom: 0rem;
    z-index: 99;
  }
  nav .nav {
    width: 100vw !important;
    height: 70px !important;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0 15rem;
    overflow: hidden;
    padding-bottom: 5px;
  }
  nav .link {
    margin-left: 4rem;
    border-radius: 0 0 100px 100px;
    justify-content: center;
  }
  nav a i {
    font-size: 25px;
  }
  .active b:nth-child(1) {
    width: 3rem !important;
    height: 70px !important;
    top: 0 !important;
    left: -3rem;
  }
  .active b:nth-child(1)::after {
    height: 70px !important;
    width: 3rem;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 0rem !important;
  }
  .active b:nth-child(3) {
    width: 3rem !important;
    height: 70px !important;
    top: 0;
    right: -3rem;
  }
  .active b:nth-child(3)::after {
    height: 70px !important;
    width: 3rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 0rem !important;
  }
  nav:hover {
    width: 100vw !important;
  }
  nav:hover .link {
    margin-left: 4rem;
    padding-left: 3rem;
    justify-content: center;
  }
  nav:hover .active b:nth-child(1),
  nav:hover .active b:nth-child(3) {
    width: 3rem;
  }
  nav:hover a {
    text-align: left;
  }
  nav:hover a h2 {
    display: none;
  }
  .header-strip {
    height: 91vh;
  }
  .header-strip::before {
    width: 20px;
  }
  .header-strip .strip-dots {
    left: -8px;
  }
  .s-box {
    grid-template-columns: 1fr !important;
  }
  .skill h3,
  .skill ion-icon,
  .skill i,
  .skill span {
    font-size: 6rem !important;
  }
  .project {
    width: 80vw;
    height: 75vh;
    margin-bottom: 70px;
  }
  #contact .left {
    width: 60vw;
  }
  #contact .left img {
    width: 50%;
  }
  #contact .left h5 {
    font-size: 5rem;
  }
  #contact .left p {
    font-size: 3rem;
  }
  #contact .left:hover {
    transform: none;
  }
  #contact .left:hover img {
    transform: none;
  }
  #about {
    text-shadow: 1px 3px 5px black;
  }
  #about .aboutback {
    background-position: center;
  }
  #about .abouttext {
    left: 0%;
    right: 0;
    margin: 0 auto;
    width: 80vw;
  }
  #about .abouttext h1 {
    font-size: 8rem;
    margin-bottom: 3rem;
  }
  #about .abouttext p {
    font-size: 6rem;
  }
  #about .abouttext h2 {
    font-size: 4rem;
  }
  .model1,
  .model2 {
    display: none !important;
  }
  #post {
    height: 180vh !important;
  }
  #post .button {
    right: 10rem !important;
  }
  #post .posts {
    width: 100vw;
    height: 170vh !important;
    justify-content: ceter;
    flex-direction: column !important;
  }
  #post .posts iframe {
    border-radius: 4rem;
    width: 80vw;
  }
  #post .posts iframe:hover {
    transform: none !important;
  }
  .button {
    font-size: 4rem;
    padding: 2rem;
  }
}/*# sourceMappingURL=main.css.map */