@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x : hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html{
  font-size: 65.5%!important;
}
:root {
  --base: #140a15;
  --black: #0b0404;
  --shade1: #2d0407;
  --shade2: #ef3513;
  --shade3: #d70607;
  --shade4: #4b040d;
  --text1: white;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    margin: 5px;
    background: #fff;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #77bee7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #49a8df;
}

// select
::-moz-selection{
  color: black !important;
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
::selection {
  color: black !important;
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

/* .preloader ----------------------------------- */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--black) url(../images/loader.gif) no-repeat center center;
  z-index: 999999999;
  display: block;
}
/* ==============nav====================== */
@import "nav.scss";
/* ==============nav====================== */
@import "model.scss";
/* ==============header====================== */
@import "header.scss";
/* ==============main====================== */
main{
    font-size: 3rem;
  }
/* skills==================================== */
@import "skill.scss";
/* project==================================== */
@import "project.scss";
/* project==================================== */
@import "photo.scss";
/* about==================================== */
@import "about.scss";
/* contact==================================== */
@import "contact.scss";
/* qrcode==================================== */
@import "qrscode.scss";
/* ==============animation====================== */
// @import "animation.scss";
/* 
/* ==============responsive====================== */
@import "responsive.scss";