/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	header{
         flex-direction: column;
     }
     .shape1{
         display: none;
     }
    }
    
    /* XS Portrait */
    @media (max-width: 479px) {
        header{
            flex-direction: column;
        }
        header img{
            height: 50%;
        }
        .shape1{
            display: none;
        }
        
}

