@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto+Mono:ital,wght@1,200;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
}
.preloader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black url(../images/loader.gif) no-repeat center center ;
  z-index: 999;
  display: block;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #140c19;
  overflow: hidden;
  transition: 0.8s ease;
}
header .fas {
  font-size: 2em;
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  cursor: pointer;
  color: white;
}
nav {
  width: 30vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/background-header.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: -30vw;
  flex-direction: column;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
  z-index: 10;
  transition: 0.8s ease;
}
nav .fas {
  font-size: 2em;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  cursor: pointer;
  color: white;
}
nav .logo {
  color: white;
  font-size: 2.4em;
  letter-spacing: 0.187em;
  cursor: pointer;
  margin: 5px;
}
nav .links {
  margin-top: 250px;
}
.links li {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
}
.links li a{
    text-decoration: none;
    color: white;
}
/* .pattern {
  width: 60vw;
  height: 100vh;
  position: absolute;
  bottom: 0vw;
  left: -20vw;
  border-right: 60vh transparent solid;
  border-bottom: 100vh white solid;
  background-color: transparent;
  overflow: hidden;
} */
.head-right {
  z-index: 1;
  text-align: center;
}
.head-right h1 {
  font-size: 4em;
  color: black;
  font-weight: 900;
  z-index: 2000;
}
.head-right h2 {
  font-size: 3em;
  color: #1e7eb0;
}

.head-left img {
  height: 80vh;
}
.h-r-intro {
  display: flex;
  justify-content: center;
}
.h-r-intro ul {
  overflow: hidden;
  height: 3.5em;
}
.h-r-intro li {
  margin-left: 20px;
  list-style: none;
  color: burlywood;
  font-size: 3em;
  font-weight: 600;
  text-align: left;
  position: relative;
  top: 0px;
  animation: roll 18s steps(3) infinite;
}
@keyframes roll {
  100% {
    top: -190px;
  }
}
.h-r-intro li::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  border-left: 2px solid burlywood;
  position: absolute;
  top: 0;
  left: 0;
  animation: wrap 6s steps(17) infinite;
}
@keyframes wrap {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@media (max-width:1050px) {
    nav{
        width: 50vw;
        right: -50vw;
    }
    .head-right{
        position: absolute;
        bottom: 100px;
        left: 30px;
        /* width: 80vw; */
    }
    .head-right h1 {
        font-size: 40px;
    }
    .h-r-intro{
        display: none;
    }
    .pattern{
        left: -50vw;
    }
    .logo h2{
        font-size: 7vw;
    }
}
@media (max-width:450px) {
    .logo h2{
        font-size: 5vw;
    }
    .pattern{
        left: -90vw;
    }
    .head-right{
        position: absolute;
        bottom: 80px;
        left: 8px;
        /* width: 80vw; */
    }
    .head-right h1 {
        font-size: 5vw;
    }
}