@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto+Mono:ital,wght@1,200;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #140c19;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.pattern{
    width: 60vw;
    height: 100vh;
    position: absolute;
    bottom: 0vw;
    left: -20vw;
    border-right: 60vh transparent solid;
    border-bottom: 100vh white solid;
    background-color: transparent;
    overflow: hidden;
}
.head-left{
    width: 35vw;
}
.head-right{
    z-index: 1;
    width: 50vw;
    text-align: center;
}
.head-right h1{
    font-size: 4em;
    color: black;
    /* text-shadow: 1px 1px 5px white,-1px -1px 5px white; */
    font-weight: 900;
    z-index: 2000;

}
.head-right h2{
    font-size: 3em;
    color: #1e7eb0;
}

.head-left img{
    height: 80vh;
}
.h-r-intro{
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
}
.h-r-intro ul{
    overflow: hidden;
    height: 3.5em;
}
.h-r-intro li{
    margin-left: 20px;
    list-style: none;
    color: burlywood;
    font-size: 3em;
    font-weight: 600;
    text-align: left;
    position: relative;
    top: 0px;
    animation: roll 9s steps(3)  infinite;
}
@keyframes roll {
   100%{
       top: -190px;
   }
}
.h-r-intro li::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    border-left:2px solid burlywood ;
    position: absolute;
    top: 0;
    left: 0;
    animation: wrap 3s steps(17) infinite ;
}
@keyframes wrap {
    100%{
        left: 100%;
    }
}