@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    overflow: none;
    background-color: black;
}
.container{
    height: 100vh;
    width: 25vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    background-color: black;
    color: white;
}
.container li{
    list-style: none;
    margin: 50px;
    cursor: pointer;
}
.container li:hover{
    animation: clrchange 5s linear  infinite alternate;
}
@keyframes clrchange {
    0%   {
        color:red;
        text-shadow: 0 0 10px red,0 0 30px red,0 0 60px red,0 0 90px red,0 0 120px red; 
    }
    25%  {
        color:yellow; 
        text-shadow: 0 0 10px yellow,0 0 30px yellow,0 0 60px yellow,0 0 90px yellow,0 0 120px yellow;
    }
    50%  {
        color:blue; 
        text-shadow: 0 0 10px blue,0 0 30px blue,0 0 60px blue,0 0 90px blue,0 0 120px blue;
    }
    75%  {color:green; 
        text-shadow: 0 0 10px green,0 0 30px green,0 0 60px green,0 0 90px green,0 0 120px green;
    }
    100% {color:red; 
        text-shadow: 0 0 10px red,0 0 30px red,0 0 60px red,0 0 90px red,0 0 120px red;
    }
  }
.container .bi{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 50px;
    cursor: pointer;
}
.container .bi:hover{
    animation: roll 5s infinite linear ;

}
@keyframes roll {
    0%   {
        transform: rotateZ(0deg); 
    }
    25%  {
        transform: rotateZ(90deg)
    }
    50%  {
        transform: rotateZ(180deg)
    }
    75%  {transform: rotateZ(270deg)
    }
    100% {transform: rotateZ(360deg)
    }
  }